input{
  width: 285px;
  height: 50px;
  text-align: center;
  font-size: 40px;
}

button{
  height: 50px;
  width: 50px;
  margin: 10px;
  font-size: 20px;
}

span{
  font-size: 40px;
  margin: 30px;
}

label{
  font-size: 40px;
}